In [5]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd

In [11]:
s=pd.Series([10,20,30,40],name="age")
print(s)

0    10
1    20
2    30
3    40
Name: age, dtype: int64

In [19]:
students={
    "name":["jui","prima","priya","hena","sadia","rivana"],
    "age":[24,25,26,27,28,29],
    "city":["Dinajpur","Rangpur","Saidpur","Dinajpur","Rangpur","Saidpur"]
}
print(students)
df=pd.DataFrame(students)
print(df)

{'name': ['jui', 'prima', 'priya', 'hena', 'sadia', 'rivana'], 'age': [24, 25, 26, 27, 28, 29], 'city': ['Dinajpur', 'Rangpur', 'Saidpur', 'Dinajpur', 'Rangpur', 'Saidpur']}
     name  age      city
0     jui   24  Dinajpur
1   prima   25   Rangpur
2   priya   26   Saidpur
3    hena   27  Dinajpur
4   sadia   28   Rangpur
5  rivana   29   Saidpur

In [21]:
students={
    "name":["jui","prima","priya","hena","sadia","rivana"],
    "age":[24,25,26,27,28,29],
    "city":["Dinajpur","Rangpur","Saidpur","Dinajpur","Rangpur","Saidpur"]
}
print(students)
df=pd.DataFrame(students)
print(df.head(3))

{'name': ['jui', 'prima', 'priya', 'hena', 'sadia', 'rivana'], 'age': [24, 25, 26, 27, 28, 29], 'city': ['Dinajpur', 'Rangpur', 'Saidpur', 'Dinajpur', 'Rangpur', 'Saidpur']}
    name  age      city
0    jui   24  Dinajpur
1  prima   25   Rangpur
2  priya   26   Saidpur

In [23]:
students={
    "name":["jui","prima","priya","hena","sadia","rivana"],
    "age":[24,25,26,27,28,29],
    "city":["Dinajpur","Rangpur","Saidpur","Dinajpur","Rangpur","Saidpur"]
}
print(students)
df=pd.DataFrame(students)
print(df.tail(3))

{'name': ['jui', 'prima', 'priya', 'hena', 'sadia', 'rivana'], 'age': [24, 25, 26, 27, 28, 29], 'city': ['Dinajpur', 'Rangpur', 'Saidpur', 'Dinajpur', 'Rangpur', 'Saidpur']}
     name  age      city
3    hena   27  Dinajpur
4   sadia   28   Rangpur
5  rivana   29   Saidpur

In [27]:
students={
    "name":["jui","prima","priya","hena","sadia","rivana"],
    "age":[24,25,26,27,28,29],
    "city":["Dinajpur","Rangpur","Saidpur","Dinajpur","Rangpur","Saidpur"]
}
print(students)
df=pd.DataFrame(students)
print(df)
print(df.info())

{'name': ['jui', 'prima', 'priya', 'hena', 'sadia', 'rivana'], 'age': [24, 25, 26, 27, 28, 29], 'city': ['Dinajpur', 'Rangpur', 'Saidpur', 'Dinajpur', 'Rangpur', 'Saidpur']}
     name  age      city
0     jui   24  Dinajpur
1   prima   25   Rangpur
2   priya   26   Saidpur
3    hena   27  Dinajpur
4   sadia   28   Rangpur
5  rivana   29   Saidpur
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    6 non-null      object
 1   age     6 non-null      int64
 2   city    6 non-null      object
dtypes: int64(1), object(2)
memory usage: 276.0+ bytes
None

In [29]:
students={
    "name":["jui","prima","priya","hena","sadia","rivana"],
    "age":[24,25,26,27,28,29],
    "city":["Dinajpur","Rangpur","Saidpur","Dinajpur","Rangpur","Saidpur"]
}
print(students)
df=pd.DataFrame(students)
print(df.describe())

{'name': ['jui', 'prima', 'priya', 'hena', 'sadia', 'rivana'], 'age': [24, 25, 26, 27, 28, 29], 'city': ['Dinajpur', 'Rangpur', 'Saidpur', 'Dinajpur', 'Rangpur', 'Saidpur']}
             age
count   6.000000
mean   26.500000
std     1.870829
min    24.000000
25%    25.250000
50%    26.500000
75%    27.750000
max    29.000000

In [33]:
print(df[["name","city"]])

     name      city
0     jui  Dinajpur
1   prima   Rangpur
2   priya   Saidpur
3    hena  Dinajpur
4   sadia   Rangpur
5  rivana   Saidpur

In [37]:
print(df.iloc[5])

name     rivana
age          29
city    Saidpur
Name: 5, dtype: object

In [39]:
print(df.iloc[1:5])

    name  age      city
1  prima   25   Rangpur
2  priya   26   Saidpur
3   hena   27  Dinajpur
4  sadia   28   Rangpur

In [43]:
print(df.loc[0,"name"])

jui

In [51]:
print(df.loc[df["age"]>25])

     name  age      city
2   priya   26   Saidpur
3    hena   27  Dinajpur
4   sadia   28   Rangpur
5  rivana   29   Saidpur

In [63]:

sortedAge=df.sort_values("age",ascending=False)
print(sortedAge)

     name  age      city
5  rivana   29   Saidpur
4   sadia   28   Rangpur
3    hena   27  Dinajpur
2   priya   26   Saidpur
1   prima   25   Rangpur
0     jui   24  Dinajpur

In [67]:
df.to_csv("student dat.csv",index=False)

In [75]:
df1=pd.read_csv("student dat.csv")
print(df1)

     name  age      city
0     jui   24  Dinajpur
1   prima   25   Rangpur
2   priya   26   Saidpur
3    hena   27  Dinajpur
4   sadia   28   Rangpur
5  rivana   29   Saidpur
6   sakib   73       ctg

In [77]:
sortedAge=df.sort_values("age",ascending=False)
print(sortedAge)

     name  age      city
5  rivana   29   Saidpur
4   sadia   28   Rangpur
3    hena   27  Dinajpur
2   priya   26   Saidpur
1   prima   25   Rangpur
0     jui   24  Dinajpur

In [79]:
df.to_csv("students dat.csv",index=False)

In [ ]:
df1=pd.read_csv("student dat.csv")
print(df1)

NameError: name 'plt' is not defined